*.cover
*.egg
*.egg-info/
*.log
*.pyc
*.pyo
*_log.txt*
.DS_store
.dmypy.*
.cache/
.coverage.*
.env
.env/
.flaskenv
.idea/
.pytest_cache/
.tox/
.venv
.vscode
__pycache__
build/
dist/
docs/_build/
env
env/
htmlcov/
node_modules
propertyMappings*
venv
venv/
